doctype html
html(ng-app="routingApp")
    head
        title= title
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js")
        script(type="text/javascript" src="javascripts/app.js")
        base(href="/")
    body
        block content
